<header class="site-header">
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
          <a class="navbar-brand" href="{{ url_for('admin.index') }}">
            <img id="logo" height="25" src="{{url_for('static', filename='img/logo_caixa.png')}}">
          </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Atendimento <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('atendimento.create_view') }}">Registrar Atendimento</a></li>
              </ul>
          </li>

          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Consulta <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('admin.index') }}">Produção diária</a></li>
              </ul>
          </li>

          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Parâmetros <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('user.index_view') }}" target="_blank">Usuário</a></li>
                <li><a href="{{ url_for('empregado.index_view') }}" target="_blank">Empregado</a></li>
                <li><a href="{{ url_for('tipoproduto.index_view') }}" target="_blank">Tipo Produto</a></li>
                <li><a href="{{ url_for('produto.index_view') }}" target="_blank">Produto</a></li>
                <li><a href="{{ url_for('tipoatendimento.index_view') }}" target="_blank">Tipo Atendimento</a></li>
              </ul>
          </li>

        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
</header>